name = "TimeArrays"
uuid = "ab6da135-9206-4dca-96b0-2f5829016377"
authors = ["Artyom91150"]
version = "1.0.0-DEV"

[compat]
julia = "1"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
